/nbproject/private/
/PortalDeEventos-war/nbproject/private/
/PortalDeEventos-ejb/nbproject/private/
/PortalDeEventos-ejb/build/
/PortalDeEventos-ejb/dist/
/build/
/PortalDeEventos-war/build/
/dist/
/PortalDeEventos-war/dist/